<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rdc.project.traveltrace">

    <!-- 告诉用户目标应用具有拍照功能 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false">
    </uses-feature>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.rdc.project.traveltrace.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public"/>
        </provider>

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.rdc.project.traveltrace.BmobContentProvider">
        </provider>
        
        <provider
            android:name=".utils.update.UpdaterFileProvider"
            android:authorities="com.rdc.project.traveltrace.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_update"/>

        </provider>

        <receiver android:name=".utils.update.DownloadReceiver">
            <intent-filter >
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4"/>

        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true"/>
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape"/>

        <activity
            android:name=".ui.HomeActivity"
            android:launchMode="singleTask">

        </activity>
        <activity android:name=".ui.PersonDetailActivity"/>
        <activity android:name=".ui.GesturePinActivity"/>
        <activity android:name=".ui.PublishPictureNoteActivity"/>
        <activity
            android:name=".ui.SplashActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.GuidePageActivity"
            android:launchMode="singleInstance">

        </activity>
        <activity
            android:name=".ui.PicturePuzzleActivity"
            android:theme="@style/DarkActivityTheme"/>
        <activity android:name=".ui.PictureProcessActivity"/>
        <activity android:name=".ui.AboutActivity"/>
        <activity android:name=".ui.SettingActivity"/>
        <activity android:name=".ui.PersonGroupActivity"/>
        <activity android:name=".ui.PersonFocusActivity"/>
        <activity android:name=".ui.PersonCollectionActivity"/>
        <activity android:name=".ui.PersonMessageActivity"/>
        <activity android:name=".ui.PersonAlbumActivity"/>
        <activity android:name=".ui.PersonVideoListActivity"/>
        <activity
            android:name=".ui.CaptureActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".short_video.activity.VideoRecordActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".short_video.activity.PlaybackActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.VideoPreviewActivity"/>
        <activity android:name=".ui.H5Activity"/>
        <activity
            android:name=".view.nine_grid_view.ImagePreviewActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name=".ui.AdvancedGeneralActivity"/>
    </application>

</manifest>